.homepage-root {
  min-height: 100vh;
  min-width: 100vw;
  text-align: left;
  margin: 50px 10px 10px 10px;
}

.search-div {
  padding-bottom: 10px;
}

.search-btn {
  width: 60px;
  height: 30px;
  padding: 0;
  margin-left: -65px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4287f5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 70%;
  font-weight: bold;
}

.search-btn:active {
  background-color: #166af2;
  color: white;
}

.search-btn:hover {
  scale: 1.01;
}

.input-box {
  width: 400px;
  padding: 0 70px 0 5px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 0%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input-box::placeholder {
  color: #888;
  padding-left: 5px;
}

.url-div {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.url {
  text-decoration: none;
}

.fanout-result-btn {
  display: flex;
  padding: 0 7px;
  justify-content: center;
  align-items: center;

  height: 21px;

  font-weight: 600;
  font-size: 12px;
  color: #3399ff;
  background-color: #dfefff;

  border-radius: 21px;
  border: none;
}

.fanout-result-btn:hover {
  cursor: pointer;
  scale: 1.01;
}
